/*
## Navigation
********************************************************************/
.navigationbarcollectioncomponent {
	position: relative;
	z-index: 30;
	background: url("../images/nav_bgrn.gif") repeat-x;
	height: 56px;
	font: 17px "Myriad Pro Semibold", "Myriad Pro", Arial, Helvetica,
		sans-serif;
}

/*
#### 1. Navigation Level
********************************************************************/
.navigationbarcollectioncomponent li {
	height: 56px;
	float: left;
	position: relative;
}

/* .navigation .head */
.navigationbarcollectioncomponent  li.La {
	background: url("../images/nav_dev.gif") no-repeat;
	float: left;
	text-align: center;
	height: 56px;
	margin-left: -2px;
}

.navigationbarcollectioncomponent  li.La>a {
	padding: 16px 0 0 26px;
	height: 40px;
	line-height: 2.750em;
	padding: 0 12px;
	color: #fff;
	float: left;
	position: relative;
	text-decoration: none;
	text-shadow: #000 1px 1px 1px;
}

.navigationbarcollectioncomponent li.La:hover {
	background: url("../images/nav_bg_inet.gif") repeat-x;
}

.navigationbarcollectioncomponent li.parent:hover>a {
	background: url("../images/nav_bg_inet.gif") repeat-x;
}

.navigationbarcollectioncomponent li.parent:hover>a {
	border-left: 1px dotted #a5a5a5;
	border-right: 1px dotted #a5a5a5;
	padding-left: 11px;
	padding-right: 11px;
}

/*
#### 2. Navigation Level
********************************************************************/
.navigationbarcollectioncomponent ul.Lb {
	display: none;
}

.navigationbarcollectioncomponent li.La:hover ul.Lb,
	.navigationbarcollectioncomponent li.La a:focus+ul.Lb {
	display: block;
}

.navigationbarcollectioncomponent ul.Lb {
	/* 	position: absolute; */
	/* 	background: #fff; */
	/* 	left: 0; */
	/* 	right: 0; */
	/* 	text-align: left; */
	/* 	padding: 20px; */
	/* 	border: 1px dotted #a5a5a5; */
	/* 	z-index: 99; */
	/* 	border-top: 0; */
	/* 	width: 908px; */
	/* 	top: 34px; */
	/* 	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4); */
	position: absolute;
	top: 56px;
	left: 0;
	border: 2px solid #E52D33;
	background: #fff;
	width: 220px;
	box-shadow: 0 0 5px #8e8d8d;
	-moz-box-shadow: 0 0 5px #8e8d8d;
	-webkit-box-shadow: 0 0 5px #8e8d8d;
	border-radius: 0 0 10px 10px;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
	padding: 15px 15px 15px 25px;
	display: none;
	z-index: 9;
	box-shadow: 0 0 5px #8e8d8d;
	font: bold 12px Arial, Helvetica, sans-serif;
	text-align: left;
}

.navigationbarcollectioncomponent ul.Lb li.Lb {
	float: left;
}

.navigationbarcollectioncomponent ul.Lb li.Lb span.nav-submenu-title {
	display: block;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.167em;
	margin: 0 0 10px 0;
}

.navigationbarcollectioncomponent ul.Lb li.Lb .Lc {
	float: left;
	width: 181px;
}