<%@ tag body-content="empty" trimDirectiveWhitespaces="true"%>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core"%>
<%@ taglib prefix="g" uri="http://granule.com/tags/accelerator"%>
<%@ taglib prefix="compressible"
	tagdir="/WEB-INF/tags/desktop/template/compressible"%>
<%@ taglib prefix="cms" tagdir="/WEB-INF/tags/desktop/template/cms"%>


<c:choose>
	<c:when test="${granuleEnabled}">
		<g:compress urlpattern="${encodingAttributes}">
			<compressible:css />
		</g:compress>
	</c:when>
	<c:otherwise>
		<compressible:css />
	</c:otherwise>
</c:choose>


<%-- <link rel="stylesheet" href="${commonResourcePath}/blueprint/print.css" type="text/css" media="print" /> --%>
<style type="text/css" media="print">
@IMPORT url("${commonResourcePath}/blueprint/print.css");
</style>
<%-- google webfonts --%>
<link href='http://fonts.googleapis.com/css?family=Lato'
	rel='stylesheet' type='text/css'>

<cms:previewCSS cmsPageRequestContextData="${cmsPageRequestContextData}" />
